<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/afterlogin.css" >
    <title>Hackathon Homepage</title>
</head>
<body>
<h1>Welcome to Hackathon HomePage</h1>
<a href="/profile" class="nextpage">Profile Page</a><br/>
    <div>Create a Profile with your information <br/>so that you can be chosen for a team<br/> OR Choose members for your team.</div><br/>
 <a href="/team_page" class="nextpage">Team Page</a>
<div>Once you have a team, create a team page <br/>that includes all the information <br/>for your project.</div>

</body>
</html>
