<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hackathon Homepage</title>
</head>

<style>
@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
    body{background-color:black;
    text-align:center
    }
    h1{color:orange;
    text-align:center;
    font-weight: 200;
    font-family: 'Exo', sans-serif}
    .nextpage{ font-weight: 200;
    font-family: 'Exo', sans-serif;
    color:white;
    font-size:25px;
    text-align:center}
    div{margin-top: 50px}
</style>
<body>
<h1>Welcome to Hackathon HomePage</h1>
<a href="/profile" class="nextpage">Profile Page</a><br/>
 <a href="/team_page" class="nextpage">Team Page</a>
<div><img src="https://static.wixstatic.com/media/301703_c9d83d5e1f9748a3ac49073ffbf2acdb.jpg/v1/fill/w_415,h_218,al_c,q_80,usm_0.66_1.00_0.01/301703_c9d83d5e1f9748a3ac49073ffbf2acdb.jpg"/></div>

</body>
</html>