<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/index.css" >
  <title>TEWH Login</title>
  <script src="js/prefixfree.min.js"></script>
</head>
<body>

  <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Welcome to <span>TEWH</span></div>
		</div>
		<br>
		<div class="login">
				<input type="text" placeholder="username" name="user"><br>
				<input type="password" placeholder="password" name="password"><br>
				<input type="button" onclick="window.location='loggedIn'" value="Login">
        </div>
  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
</body>

</html>
