<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/profile.css" >
    <title>Profile Page</title>
</head>
<body>
<h1 class="head">Profile Page</h1>
<h1 class="same">If you are choosing from profiles click here to go to that site: <a class="click" href="">Select</a></h1>
<h1 class="same">If you are creating a profile, fill in the information below: </h1>
<h1 class="name">Name:</h1><h1 class="year">Year:</h1><h1 class="major">Major:</h1></br>
<input type="text" name="profilename">
<input type="text" name="year">
<input type="text" name="major">
<h1 class="same">Background/Expertise:</h1>
<input class="info" type="text" name="expertise">
<div class="save"><input type="button" onclick="window.location='Save'" value="Save
"></div>
</body>
</html>
