<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/team_page.css" >
    <title>Team Page</title>
</head>
<body>
<h1 class="title">Group Info</h1>
<h1>Member Names:</h1>
<input type="text" name="MemberNames">
<h1>Topic Chosen and Why:</h1>
<input type="text" name="whychosen">
<h1>Solution Ideas:</h1>
<input type="text" name="solution">
<h1>Chosen Solution:</h1>
<input type="text" name="chosen">
<h1>Research:</h1>
<input type="text" name="research">
<h1>What Modeling Tool:</h1>
<input type="text" name="tool">
<h1>Uploads:</h1>
<input type="text" name="uploads">
<h1>Business Proposal:</h1>
<input type="text" name="proposal">

</body>
</html>
