
@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
    body{background-image: url(http://static.wixstatic.com/media/99ec98fdb81945c29c25a3ad6c5606b1.jpg_srz_974_443_85_22_0.50_1.20_0.00_jpg_srz);
    background-size:cover;}
    h1{font-weight: 200;
    font-family: 'Exo', sans-serif;
    color:white;
    font-size:20px;
    text-align:left}
input{
    height: 50px;
    width:80%;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	margin-left:20px;
	margin-right:auto;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}
.title{font-size:35px;
        color:#003300;
        margin-left:400px}
